$content-max-width: 800px;
$content-padding: 1rem;

.Layout {
  > header {
    padding: $content-padding;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    background: #077;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    h1 {
      max-width: $content-max-width;
      margin: 0 auto;
      font-size: 1.5em;
      color: #022;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
    }
  }

  > article {
    margin: 3rem auto 0 auto;
    box-sizing: content-box;
    padding: $content-padding;
    max-width: $content-max-width;
  }
}
